/* Set background color to black and text color to white */
body {
    background-color: #000;
    color: #fff; /* Set text color to white */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style for the dropdown button */
.dropbtn {
    background-color: #0084ff; /* Blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f1f1f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown content when the user hovers over the dropdown button */
.user-dropdown:hover .dropdown-content {
    display: block;
}

/* Style for the logout button */
.logout-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ff6347; /* Red */
    color: white;
    border: none;
    cursor: pointer;
}

/* Style for the chat button */
.chat-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

/* Change color of chat button on hover */
.chat-button:hover {
    background-color: #45a049; /* Darker Green */
}

.upload-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #ff63;
    color: white;
    border: none;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #45a049;
}

/* Style for welcome message */
h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

/* Grid layout for videos */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

/* Style for individual video items */
.video-item {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
    background-color: #1a1a1a; /* Slightly lighter black for video item background */
    height: 500px; /* Fixed height */
    display: flex;
    flex-direction: column;
}

.video-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.video-item h3 a {
    color: #fff; /* White text for links */
    text-decoration: none; /* Optional: Remove underline from links */
}

.video-item h3 a:hover {
    color: #ccc; /* Optional: Change color on hover */
}

.video-item video {
    max-width: 100%;
    margin-bottom: 10px;
}

.video-item p {
    margin-top: 10px;
    color: #ccc; /* Light grey text */
}

/* Style for video descriptions */
.video-item .description {
    flex-grow: 1;
    overflow: auto;
    margin-top: 10px;
}

/* Style for uploaded by text */
.video-item p span {
    color: #fff; /* White text for uploader name */
}
