<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/ChatPage.css">
</head>
<body>
<div class="container">
    <h1>Ask anything to Llama</h1>

    <form action="#" th:action="@{/chat}" th:object="${inputForm}" method="post" class="input-container">
        <input type="text" th:field="*{inputString}" placeholder="Type your question here..." />
        <button type="submit">Submit</button>
    </form>

    <div th:if="${inputForm.responseString != null}" class="output-container">
        <div class="output-text" th:text="${inputForm.responseString}"></div>
    </div>
</div>
</body>
</html>
