<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/ChatPage.css">
</head>
<body>
<div class="container">
    <h1>Ask anything to Llama</h1>

    <!-- Loading screen -->
    <div class="loading-screen" id="loadingScreen">Loading...</div>

    <form action="#" th:action="@{/chat}" th:object="${inputForm}" method="post" class="input-container" onsubmit="showLoadingScreen()">
        <input type="text" th:field="*{inputString}" placeholder="Type your question here..." />
        <button type="submit">Submit</button>
    </form>

    <div th:if="${inputForm.responseString != null}" class="output-container">
        <div class="output-text" th:text="${inputForm.responseString}"></div>
    </div>

    <!-- Home button -->
    <a href="/home" class="home-button">Home</a>
</div>

<script>
    function showLoadingScreen() {
        document.getElementById("loadingScreen").style.display = "block"; // Show the loading screen
    }
</script>

</body>
</html>
