<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Video</title>
    <link rel="stylesheet" type="text/css" href="/css/editForm.css">
</head>
<body>

<form id="editForm" th:action="@{/edit/{id}(id=${video.id})}" method="post" enctype="multipart/form-data">
    <h2>Edit Video</h2>
    <input type="hidden" name="_method" value="put" /> <!-- To handle the PUT request if necessary -->
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" th:value="${video.title}" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required th:text="${video.description}"></textarea>

    <label for="showVideo">Previous Video:</label>
    <video id="showVideo" width="280" height="auto" controls>
        <!-- Set the source of the video to the relative path of the video -->
        <source th:src="@{'/Videos/' + ${video.filepath}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <label for="file">Select video:</label>
    <input type="file" id="file" name="file" accept="video/*">

    <button type="submit">Update</button>
    <p class="file-size-info">Max size = 30MB allowed</p>
    <a class="cancel-button" th:href="@{'/home'}">Cancel</a>
</form>

</body>
</html>
