<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/authenticate" method="post" id="loginForm">
        <div class="message"></div>
        <input type="text" name="email" placeholder="Email Id" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
    <p class="signup-text">New user? Sign up <a href="/signup">here</a>.</p>
</div>
</body>
</html>
