<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
</head>
<body>

<h1>Home Page</h1>

<h2>Welcome user <span th:text="${username}">first name</span></h2>

<!-- Logout button -->
<div class="logout-button-container">
    <form action="/logout" method="post">
        <button type="submit" class="logout-button">Logout</button>
    </form>
</div>

<!-- Grid layout for videos -->
<div class="video-grid">
    <!-- Iterate over the list of video names -->
    <div th:each="videoName : ${videoNames}">
        <div class="video-item">
            <video width="280" height="auto" controls>
                <!-- Set the source of the video to the relative path of the video -->
                <source th:src="@{'/videos/' + ${videoName}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>

</body>
</html>
